 .thumbnail img { width: 100%; height: 250px; }
    .navbar-form { margin-top: 0px; }
    .navbar-form .form-control { width: 57px; }
    .last-child>a {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-default { color: #337ab7; }
    .movie_title {
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        display: -moz-box;
        -moz-line-clamp: 2;
        -moz-box-orient: vertical;

        overflow-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        overflow: hidden;
    }
    .s-top-left-new {
        height: 40px;
        padding-left: 24px;
    }
    .s-top-left-new a { color: #709de5; }
    .s-top-left-new a:hover { color: #2172b7; }