{% extends 'base.html' %}      {# 加载父模板 #}

{% block header %}                        {# 头 #}
<title>重置密码</title>
{% endblock header %}


{% block nav %}{% endblock nav %}        {# 导航栏 #}

{% block search %}                       {# 搜索框 #}
{% endblock search %}

{% block content %}                     {# 内容:登录表单 #}
<div class="container">
        <div class="row">
            <div class="col-sm-5">
                 <form action="" method="post">
                    {% csrf_token %}
                  <h1 class="title">重置密码</h1>
                  <div class="form-group">
                    <input type="email" name="email" id="input_email" class="form-control" value="{{ email }}" placeholder="邮箱">
                    <div class="red">{{ form.email.errors }}</div>
                  </div>
                  <div class="input-group">
                     <input type="text" name="verification_code" value="{{ verification_code }}" class="form-control" placeholder="邮箱验证码">
                     <span class="input-group-btn">
                         <button type="button" class="btn btn-info" id="send_email_btn">
                            <span>发送</span>
                         </button>
                     </span>
                  </div>
                  <div class="red">{{ form.verification_code.errors }}</div>
                <input placeholder="请输入验证码" name="captcha_1" type="text">
                <img alt="验证码" src="{{ image_url }}">
                <input name="captcha_0" value="{{ hashkey }}" type="hidden">
                <div class="red">{{ form.captcha.errors }}</div>
                <input type="submit" class="btn btn-primary" value="重置密码">
                     <span>重置后的密码是：<b class="h4">{{ default_password }}</b>，请尽快修改密码！</span>
                </form>
                <p class="h4 red">{{ error }}</p>
                {% if msg %}
                <p class="h3">{{ msg }}重置密码成功！<a href="{% url 'user_app:login' %}" style="color: #709de5;">登录</a></p>
                {% endif %}
              </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    $('#send_email_btn').click(function(){
         // 点击后禁用，发送邮件成功后倒计时
         $('#send_email_btn').attr("disabled",true);
        // 获取邮箱
        var email = $('#input_email').val();
        // 发送ajax请求
        $.post(
                "{% url 'user_app:send_find_password_email' %}",
                {"email": email, "csrfmiddlewaretoken": "{{ csrf_token }}"},
                function(data){
                    if(data['code']==0){
                        alert(data['msg']);
                        $('#send_email_btn').attr("disabled",false);
                    }else if(data['code']==1){
                        // 60秒倒计时
                        var num = 60;
                        $('#send_email_btn span').text(num);
                        var timer = setInterval(function(){
                             num--;
                            $('#send_email_btn span').text(num);
                            if (num<=1){
                                 // 清除定时器
                                clearInterval(timer);
                                $('#send_email_btn span').text('发送');
                                $('#send_email_btn').attr("disabled",false);
                            }
                        }, 1000);
                        alert(data['msg']);
                    }
                }
        );
    });
{% endblock script %}
