{% extends 'blog_app/base.html' %}      {# 加载父模板 #}


{% block header %}  {# 头 #}
<title>关于我</title>
{% endblock header %}


{% block search %}                       {# 搜索框 #}
{% endblock search %}

{% block content %}                     {# 内容 #}
 <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>一个知识积累的个人空间</h1>
                <p class="h3">在日常学习中，将知识记录下来，日后当不记得的时候再来看看这里的笔记。</p>
                <p class="h3">有本人的学习笔记，有在网上爬取的数据，后续数据不知道还会不会增加。</p>
                <p class="h4">以下是本人的其它链接：</p>
                <p class="h4">
                    CSDN个人主页：
                    <a style="color:#337ab7;" href="https://me.csdn.net/qq_44657868" target="_blank">
                        https://me.csdn.net/qq_44657868
                    </a>
                </p>
                <p class="h4">
                    GitHub个人主页：
                    <a style="color:#337ab7;" href="https://github.com/sky-boy777" target="_blank">
                        https://github.com/sky-boy777
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}