<!DOCTYPE html>
{% load static %}
<!--加载静态文件css、js-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block header %}{% endblock header %}
</head>

<body>
    <!--头部开始-->
    <nav class="navbar navbar-inverse">
        <button class="navbar-toggle" id="nav-btn">
            <span class="color-white glyphicon glyphicon-chevron-left" id="btn-span"></span>
            <!--按钮里的指向箭头-->
        </button>
        <!--点击按钮将显示的导航栏目-->

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="/static/images/logo.JPG" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="nav-div">
                <ul class="nav navbar-nav">
                    {% block nav %}
                    <li><a href="{% url 'blog_app:welcome' %}">首页</a></li>
                    <li><a href="{% url 'blog_app:index' %}">博客</a></li>
                    <li><a href="{% url 'blog_app:duanzi' %}">段子</a></li>
                    <li><a href="{% url 'blog_app:about' %}">关于我</a></li>
                    <li><a href="{% url 'blog_app:leave_a_message' %}">留言板</a></li>
                    <li><a></a></li>

                    {# 已登录的情况 #}
                    {% if request.user.is_authenticated %}
                    <li class="li">
                        <a href="#">{{ request.user.username }} <span class="caret"></span></a>
                        <ul class="ul_down nav navbar-nav">
                            <li><a href="{% url 'user_app:logout' %}">退出登录</a></li>
                            <li><a href="{% url 'user_app:change_password' %}">修改密码</a></li>

                            {% if request.user.is_superuser %}
                            <li><a href="/houtaiguanli666/">后台管理</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% else %}
                    {# 未登录的情况 #}
                    <li><a href="{% url 'user_app:login' %}">去登录</a></li>
                    <li><a href="{% url 'user_app:register' %}">注册</a></li>
                    {% endif %}
                    {% endblock nav %}
                </ul>
                <!--搜所框-->
                {% block search %}
                <form class="navbar-form navbar-right" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="搜">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_btn">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                {% endblock search %}
            </div>
        </div>
    </nav>
    <!--头部结束-->

    <!--身体开始-->
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>内容</p>
            </div>
        </div>
    </div>
    {% endblock content %}
    <!--身体结束-->

     <!--底部开始-->
<!--    <div class="navbar-inverse buttom navbar-fixed-bottom">-->
<!--            <p class="h3">BYC个人网站</p>-->
<!--            <p>联系邮箱：1251779123@qq.com</p>-->
<!--    </div>-->
    <div class="buttom">
        <p class="h4">BYC个人网站</p>
        <p>联系邮箱：1251779123@qq.com</p>
    </div>
    <!--底部结束-->

    <script src="/static/jquery/jquery-1.12.4.js"></script>
    <script>
        $('#nav-btn').click(function () {
            $('#nav-div').toggleClass('collapse');  // 点击出现下拉菜单

            if ($('#nav-div').hasClass('collapse')) {
                $('#btn-span').removeClass('glyphicon glyphicon-chevron-down').addClass('glyphicon glyphicon-chevron-left');
            }
            else {
                $('#btn-span').removeClass('glyphicon glyphicon-chevron-left').addClass('glyphicon glyphicon-chevron-down');
            }
            return false;  // 取消事件冒泡
        });
    </script>
</body>

</html>
