{% extends 'blog_app/base.html' %} {# 加载父模板 #}


{% block header %} {# 头 #}
<title>详情页</title>
<style>
	img{ width:100%; }
</style>
{% endblock header %}




{% block search %} {# 搜索框 #}
{% endblock search %}

{% block content %} {# 内容 #}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			{% if blog %}
			<h1>{{ blog.btitle }}</h1>
			<p><i>{{ blog.btime }}</i> &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span> {{ blog.bbrowse }}
			</p>
			<hr />
			<p>{{ blog.btext | safe }}</p>
			{% else %}
			<h3>{{ msg }}</h3>
			{% endif %}
		</div>
	</div>

	<!--文章评论开始-->
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="col-md-8">
			<form action="" method="post">
				{% csrf_token %}
				<input class="form-control" name="content" type="text" placeholder="评论">
				<div class="red">{{ msg }}</div>
				<input class="btn btn-success" type="submit" value="评论一下">
                    </form>
		</div>
	</div>
	<!--显示评论-->
	<br>
	<br>
     {% for comment in comments %}
	<div class="row">
		<div class="col-md-8">
			<p><span class="glyphicon glyphicon-user"></span> {{ comment.username }}</p>
			<p class="lead">{{ comment.content }}</p>
			<p class="h6"><span class="glyphicon glyphicon-time"></span> <i>{{ comment.create_time }}</i></p>
		</div>
	</div>
	<hr>
	{% endfor %}
	<!--文章评论结束-->

</div>
{% endblock content %}
