{% extends 'blog_app/base.html' %}      {# 加载父模板 #}


{% block header %}  {# 头 #}
<title>详情页</title>
{% endblock header %}




{% block search %}                       {# 搜索框 #}
{% endblock search %}

{% block content %}  {# 内容 #}
 <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% if blog %}
                <h1>{{ blog.btitle }}</h1>
                <p><i>{{ blog.btime }}</i> &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span> {{ blog.bbrowse }}</p>
                <hr />
                <p>{{ blog.btext | safe }}</p>
                {% else %}
                 <h3>{{ msg }}</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}