{% extends 'blog_app/base.html' %}      {# 加载父模板 #}
{% load my_filter %}

{% block header %}  {# 头 #}
<meta name="description" content="BYC博客，个人博客网站，python，scrapy，django，爬虫，BYC个人网站，笔记">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<title>博客</title>
<style>
    .s_row {
        margin-top: 30px;
        border: 1px solid #eae4e4;
        padding: 10px;
        transition: all .2s;
        }

    a:hover .s_row {
        box-shadow: 5px 5px 5px rgba(0,0,0,.3);
        background-color: #ebebee;
     }
</style>
{% endblock header %}

{% block content %}                     {# 内容 #}
 <div class="container">
     {% for blog in pager.object_list %}            {# 一条博客一行 #}
      <a href="/blog_detail/?key={{ key }}&bid={{ blog.bid }}" style="text-decoration: none;">
        <div class="s_row row">
            <div>
                <h4>{{ blog.btitle }}</h4>
                <p style="color:black;">{{ blog.btext | my_f }}</p>
                <p class="text-muted"><span class="glyphicon glyphicon-eye-open" id="browse"></span> {{ blog.bbrowse }}&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ blog.bcomment }}条评论</span> &nbsp;&nbsp;&nbsp;&nbsp;<i>{{ blog.btime }}</i></p>
            </div>
        </div>
      </a>
     {% endfor %}
 </div>

<!--分页-->
<div class="page">
      <nav aria-label="Page navigation">
        <ul class="pagination">
           {% if pager.has_previous %}     {# 上一页 #}
            <li><a href="/blog/?page=1&keyword={{ keyword }}">第1页</a></li>
          <li>
            <a href="/blog/?page={{ pager.previous_page_number }}&keyword={{ keyword }}" aria-label="Previous">
              <span aria-hidden="true">上一页</span>
            </a>
          </li>
          {% endif %}
          <li><a href="javascript:;">{{ pager.number }}/{{ paginator.num_pages }}</a></li>
          {% if pager.has_next %}     {# 下一页 #}
          <li>
            <a href="/blog/?page={{ pager.next_page_number }}&keyword={{ keyword }}" aria-label="Next">
              <span aria-hidden="true">下一页</span>
            </a>
          </li>
          {% endif %}
          {# 最后一页 #}
          <li><a href="/blog/?page={{ paginator.num_pages }}&keyword={{ keyword }}">共{{ paginator.num_pages }}页</a></li>
        </ul>
      </nav>
</div>
{% endblock content %}
