{% extends 'blog_app/base.html' %}      {# 加载父模板 #}


{% block header %}  {# 头 #}
<title>欢迎光临</title>
<style>
    .thumbnail img { width: 100%; height: 150px; }
</style>
{% endblock header %}

{% block search %}       {# 不要搜索框 #}
{% endblock search %}

{% block content %}      {# body内容 #}
 <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="jumbotron">
                   <h1>欢迎来到BYC!</h1>
                   <p>这里有本人在学习python过程中写的一些笔记。</p>
                   <p>这里有本人使用python爬取的一些搞笑的段子。</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
              <img src="/static/images/image1.jpg" alt="博客">
              <div class="caption">
                <h3>博客</h3>
                <p><a href="{% url 'blog_app:index' %}" class="btn btn-primary" role="button">前往</a></p>
              </div>
            </div>
          </div>
            <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
              <img src="/static/images/image2.jpg" alt="段子">
              <div class="caption">
                <h3>段子</h3>
                <p><a href="{% url 'blog_app:duanzi' %}" class="btn btn-primary" role="button">前往</a></p>
              </div>
            </div>
          </div>
            <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
              <img src="/static/images/image3.jpg" alt="关于我">
              <div class="caption">
                <h3>关于我</h3>
                <p><a href="{% url 'blog_app:about' %}" class="btn btn-primary" role="button">前往</a></p>
              </div>
            </div>
          </div>
            <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
              <img src="/static/images/image4.jpg" alt="留言">
              <div class="caption">
                <h3>留言板</h3>
                <p><a href="{% url 'blog_app:leave_a_message' %}" class="btn btn-primary" role="button">前往</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}