{% extends 'blog_app/base.html' %}      {# 加载父模板 #}


{% block header %}  {# 头 #}
<style>
    .title {
        text-align: center;
        color:white;
        background-color:black;
        border-radius: 5px;
    }
</style>
<title>修改密码</title>
{% endblock header %}


{% block nav %}                         {# 导航栏 #}
    <li><a href="{% url 'blog_app:index' %}">首页</a></li>
    <li><a href="{% url 'blog_app:duanzi' %}">段子</a></li>
    <li><a href="{% url 'blog_app:about' %}">关于我</a></li>
{% endblock nav %}

{% block search %}                       {# 搜索框 #}
{% endblock search %}

{% block content %}                     {# 内容:修改密码 #}
<div class="container">
        <div class="row">
            <div class="col-md-9">
                <form action="" method="post">
                    {% csrf_token %}
                    <h1 class="title">BYC修改密码</h1>
                  <div class="form-group">
                    <label>旧密码</label>
                     <input type="password" class="form-control" placeholder="旧密码" name="old_password">
                      <div class="red">{{ form.old_password.errors }}{{ msg }}</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">新密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="新密码" name="new_password">
                    <div class="red">{{ form.new_password.errors }}</div>
                  </div>
                  <button type="submit" class="btn btn-default">提交</button>
                    <h1>{{ error }}</h1><h1>{{ ok }}</h1>
                </form>
              </div>
        </div>
    </div>
{% endblock content %}