body {
    margin-bottom: 160px;
}

/* 公共样式 */
.buttom {
        position: fixed;
        bottom: 0;
        height: 120px;
        width: 100%;
        background-color: black;
        color: white;
        padding-top: 20px;
        text-align: center;
    }
.color-white {
        color: white;
    }
.red{ color: red; }
.page { text-align:center; }

.ul_down{
            position: absolute;
            z-index: 9999;
            background-color: black;
        }

.li>ul{
            display: none;
        }

.li:hover>ul{
            display: block;
        }



